body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
.btn-container{
    width:20rem;
    height:10rem;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.btn1{
    width:8rem;
    height:8rem;
    border:5px solid rgb(255, 255, 255);
    background-color: green;
    margin:0.5rem;
    /* margin-left: 1.4rem; */
    border-radius: 20%;
}

.btn2{
    width:8rem;
    height:8rem;
    border:5px solid rgb(255, 255, 255);
    background-color: rgb(250, 0, 0);
    margin:0.5rem;
    /* margin-left: 1.4rem; */
    border-radius: 20%;
}

.btn3{
    width:8rem;
    height:8rem;
    border:5px solid rgb(255, 255, 255);
    background-color: rgb(218, 254, 14);
    margin:0.5rem;
    /* margin-left: 1.4rem; */
    border-radius: 20%;
}

.btn4{
    width:8rem;
    height:8rem;
    border:5px solid rgb(255, 255, 255);
    background-color: rgb(0, 8, 255);
    margin:0.5rem;
    /* margin-left: 1.4rem; */
    border-radius: 20%;
}


.flash{
    background-color: aliceblue;
}


.userflash{
    background-color: rgb(142, 255, 127);
}